<div class="wrap {$pluginID}-admin">
	<h1>{$title}</h1>

	<!--suppress HtmlUnknownTarget -->
	<form method="post" action="options.php">
		{$generalFormFields}
	</form>
	<hr>
	<!--suppress HtmlUnknownTarget -->
	<form method="post" action="options.php">
		{$introFormFields}
	</form>
	<hr>
	<!--suppress HtmlUnknownTarget -->
	<form method="post" action="options.php">
		{$scriptsFormFields}
	</form>
	<hr>
	<!--suppress HtmlUnknownTarget -->
	<form method="post" action="options.php">
		{$categoriesFormFields}
	</form>
	<hr>
	<!--suppress HtmlUnknownTarget -->
	<form method="post" action="options.php">
		{$geoipFormFields}
	</form>
</div>
